.container {
  display: flex;
  margin: 0 auto;
  max-width: 522px;
  justify-content: space-between;
}

.input {
  width: 377px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.text_color{
  color: #fff;
}

.paragraph{
  margin: 0;
  padding-left: 16px;
  margin-top: 4px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}